.container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.user_form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input_controller {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.input_controller input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #afafaf;
}

.user_form button {
  padding: 5px 10px;
  border: none;
  background-color: #6f6fff;
  border-radius: 5px;
  color: white;
}
